@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    /* The image used */
    background-image: url("./images/bg.jpg");
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    font-weight: bold;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    z-index: 1;
}

#todoList {
    width: 33%;
    background-color: #fbc9c1;
    border-radius: 10px;
}

.each-task-div {
    margin: 10px 5px;
}

.each-task-div span {
    display: inline-block;
    width: 66%;
    padding: 5px;
    margin-left: 12px;
}

.each-task-div button {
    cursor: pointer;
    padding: 6px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
}

.add-a-strike {
    text-decoration: line-through;
}

/* adding vertical line for seperation */
.v1 {
    position: absolute;
    border-left: 4px solid black;
    height: 100vh;
    top: 0;left: 50%;
}

/* right side form and multer */
.container {
    width: 30%;
    height: 150px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.container h2 {
    text-align: center;
}

form {
    text-align: center;
    margin: 5px 0;
    width: 100%;
}

#taskInput {
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 5px;
    background-color: #E8F0FE;
}

#submit {
    display: block;
    color: white;
    background-color: #007BFF;
    padding: 4px;
    cursor: pointer;
    margin: 8px 0;
    margin-left: 40%;
}